{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <!-- External Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Internal Styles -->
    <style>
        
    </style>

    <!-- Header -->
    <header>
        <h1>Programming Courses</h1>
    </header>

    <!-- Background Video -->
    <video id="background-video" autoplay loop muted playsinline>
        <source src="/static/fl.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- Course Cards -->

        <div class="col">
            <div class="card">
                <img src="/static/javascript.png" class="card-img-top" alt="Javascript logo">
                <div class="course-card">
                    <div class="course-details">
                        <h2>Introduction to JavaScript With Bro Code</h2>
                        <p>Javascript programming. Covering syntax, data structures, and more. Enjoy with Bro Code. Full Course for free.</p>
                        <div class="course-info">
                            <span>Duration: 12 hours</span>
                            <a href="https://www.youtube.com/watch?v=PkZNo7MFNFg&pp=ygUWamF2YXNjcmlwdCBmdWxsIGNvdXJzZQ%3D%3D&loop=1" class="button" target="_blank">Enroll Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        

        <div class="col">
            <div class="card">
                <img src="/static/python.jpg" class="card-img-top" alt="Python logo">
                <div class="course-card">
                    <div class="course-details">
                        <h2>Introduction to Python</h2>
                        <p>Python programming. Covering syntax, data structures, and more. Full Course</p>
                        <div class="course-info">
                            <span>Duration: 6 hours</span>
                            <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc&t=3s&pp=ygUsTGVhcm4gdGhlIGZ1bmRhbWVudGFscyBvZiBQeXRob24gcHJvZ3JhbW1pbmc%3D"
                                class="button" target="_blank">Enroll Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/static/mysql.jpg" class="card-img-top" alt="...">
                <div class="course-card">
                    <div class="course-details">
                        <h2>MYSQL Tutorial for Beginners</h2>
                        <p>My SQL. A very good databased Course With Freecode camp. Full Course</p>
                        <div class="course-info">
                            <span>Duration: 4 hours</span>
                            <a href="https://www.youtube.com/watch?v=HXV3zeQKqGY&pp=ygUFbXlzcWw%3D"
                                class="button" target="_blank">Enroll Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       


        <div class="col">
            <div class="card">
                <img src="/static/flask-python.png" class="card-img-top" alt="Flask icon">
                <div class="course-card">
                    <div class="course-details">
                        <h2>Introduction to Flask Course. Python Web Application Development </h2>
                        <p>Learn Python programming With Flask Framework. Coding some Projects, and more. Full Course</p>
                        <div class="course-info">
                            <span>Duration: 6 hours</span>
                            <a href="https://www.youtube.com/watch?v=Qr4QMBUPxWo&t=67s&pp=ygURZmxhc2sgZnVsbCBjb3Vyc2U%3D"
                                class="button" target="_blank">Enroll Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
