{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
%}
<style>
  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

label {
  font-weight: bold;
  color: white;
}

</style>



<video id="background-video" autoplay loop muted playsinline>
  <source src="/static/fl.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>



<form method="POST">
  <!--when forms is submited send a post request to the backend-->
  <h3 align="center" style="color: white;">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      
    />
  </div>
  <br />

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password"
      
    />
  </div>
  <br />

  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
