{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/profilestyle.css">

<style>
   
</style>

<h2>User Profile</h2>

<!-- Display profile picture if available -->
<div id="profile-picture-container">
    {% if user.profile_picture %}
    <img src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}" class="rounded mx-auto d-block" id="profile-picture" alt="Profile Picture">
    {% else %}
        <i>No profile picture uploaded.</i><br/>
    {% endif %}

    <!-- Form for uploading profile picture -->
    <form id="upload-form" method="post" enctype="multipart/form-data" action="{{ url_for('views.profile') }}">
        <label for="profile_picture">Upload Profile Picture</label>
        <input type="file" name="profile_picture" id="profile_picture" accept="image/*">
        <button type="submit" class="btn btn-upload">Upload</button>
    </form>
</div>

<div class="container">
    <p>Email: {{ current_user.email }}</p>
    <p>Username: {{ current_user.first_name }}</p>
</div>

{% endblock %}
